:root {
    // --brand-blue: #1A2C57;
    --brand-blue: #323E48;
    --brand-orange: #FF8300;
    --brand-dark-grey: #666766;
    --brand-light-grey: #E6E7E8;
    --blue-hover: #253138;
    --light-grey-hover-bg: #e5e5e5; 
    --grey-hover-text: #323e48;
}

// $brand-blue: #1A2C57;
$brand-blue: #323E48;
$brand-orange: #FF8300;
$brand-dark-grey: #666766;
$brand-light-grey: #E6E7E8;
$blue-hover: #253138;
$light-grey-hover-bg: #e5e5e5; 
$grey-hover-text: #323e48;
$error: #cf220b; 