:root {
    --brand-blue: #1A2C57;
    --brand-orange: #FF8300;
    --brand-dark-grey: #666766;
    --brand-light-grey: #E6E7E8;
    --blue-hover: #061e56;
}

$brand-blue: #1A2C57;
$brand-orange: #FF8300;
$brand-dark-grey: #666766;
$brand-light-grey: #E6E7E8;
$blue-hover: #061e56;
$error: #cf220b;