body:not(.fl-builder-edit) {
    #splashPage {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
    
         * {
            margin: 0 !important;
            padding: 0 !important;
            max-width: unset;
        }
    
        .fl-html {
            position: relative;
            height: 100vh;
            text-align: center;
        }
    
        svg {
            min-height: 100vh;
            object-fit: cover;
    
        }
    }
}


header, .hero-headline {
    transition: all 0.6s ease-in-out;
    opacity: 1;
}