::selection {
  background: $brand-blue;
  color: #fff;
}

body {
  overflow-x: hidden;
}

.position-relative {
  position: relative;
}

.modal-open {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.transparent {
  opacity: 0 !important;
}