// theme imports
@import "./components/colorswatch";
@import "./components/typography";
@import "./components/breakpoints";
@import "./components/utils";

// global imports
@import "./components/main-navigation";
@import "./components/angled-orange-geometric-bg";

// homepage imports
@import "./components/three-kings";
@import "./components/featured-properties-slider";
@import "./components/splash-page";

// about imports
@import "./components/staff-bios";

// project grid imports
@import "./components/project-grid";

// blog functionaliity imports
@import "./components/blog";

// contact form imports
@import "./components/contact-form";

footer a {
    text-decoration: underline;
}

div#n2-ss-5-arrow-next:focus,
div#n2-ss-5-arrow-previous {
	border: 1px solid #323e48;
	border-radius: 5%;
}


body.project-template-default #header-scroll-up {
    position: relative;
}

body.project-template-default #header-scroll-up:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: -100px;
	width: 400px;
    bottom: -20px;
	background: rgba(255,255,255,0.9);
	filter: blur(60px)
}